

.section1{
    background-image: url(images/wallpaper\ dark.webp);
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.section2 {
  background-color: black;
  
}



.color-change1 {
            font-size: 2em;
            font-weight: bold;
            animation: colorAnimation 10s infinite;
            position: absolute;
            left: 600px;
            bottom:800px;
            

        }

@keyframes colorAnimation {
            0% { color:black }
            25% { color: rgb(42, 86, 218); }
            50% { color: blue; }
            75% { color: lightskyblue }
            100% { color: white; }
        }
    
h1{
color: aliceblue;
position: absolute;
left:420px;
bottom:780px;
opacity: 0.6;
}



